'.text.xml.svg':
  'animate':
    'prefix': 'ani'
    'body': '<animate attributeName="$1" values="$2;$3" begin="$4" dur="$5s" fill="${6:freeze}" repeatCount="$7" />'
    'description': 'The animate element is put inside a shape element and defines how an attribute of an element changes over the animation. The attribute will change from the initial value to the end value in the duration specified.'
    'descriptionMoreURL': 'https://developer.mozilla.org/en-US/docs/Web/SVG/Element/animate'
  'animateMotion':
    'prefix': 'animo'
    'body': '<animateMotion begin="$1" dur="$2s" fill="${3:freeze}">\n  <mpath xlink:href="$4"/>\n</animateMotion>'
    'description': 'The animateMotion element causes a referenced element to move along a motion path.'
    'descriptionMoreURL': 'https://developer.mozilla.org/de/docs/Web/SVG/Element/animateMotion'
  'animateTransform':
    'prefix': 'anit'
    'body': '<animateTransform type="${1:scale}" values="$2;$3" begin="$4" dur="$5s" fill="${6:freeze}" additive="${7:sum}" />'
    'description': 'The animateTransform element animates a transformation attribute on a target element, thereby allowing animations to control translation, scaling, rotation and/or skewing.'
    'descriptionMoreURL': 'https://developer.mozilla.org/en/docs/Web/SVG/Element/animateTransform'
  'circle':
    'prefix': 'c'
    'body': '<circle cx="${1:0}" cy="${2:0}" r="${3:50}" fill="${4:#CC0F16}" />'
    'description': ''
    'descriptionMoreURL': ''
  'clipPath':
    'prefix': 'cl'
    'body': '<clipPath id="$1">\n  $2\n</clipPath>'
    'description': ''
    'descriptionMoreURL': ''
  'defs':
    'prefix': 'df'
    'body': '<defs>\n  $1\n</defs>'
    'description': ''
    'descriptionMoreURL': ''
  'desc':
    'prefix': 'de'
    'body': '<desc>$1</desc>'
    'description': ''
    'descriptionMoreURL': ''
  'ellipse':
    'prefix': 'e'
    'body': '<ellipse cx="${1:50}" cy="${2:50}" rx="${3:20}" ry="${4:30} fill="${5:#CC0F16}" />'
    'description': ''
    'descriptionMoreURL': ''
  'entity':
    'prefix': 'entity'
    'body': '<!ENTITY $1 "$2">'
    'description': ''
    'descriptionMoreURL': ''
  'group':
    'prefix': 'g'
    'body': '<g $1>$2</g>'
    'description': 'Container for grouping together related graphics elements.'
    'descriptionMoreURL': 'http://www.w3.org/TR/SVG/struct.html#Groups'
  'line':
    'prefix': 'l'
    'body': ' <line x1="$1" y1="$2" x2="$3" y2="$4" stroke="$5" stroke-width="$6"/>'
    'description': 'The line element is an SVG basic shape, used to create a line connecting two points.'
    'descriptionMoreURL': 'https://developer.mozilla.org/de/docs/Web/SVG/Element/line'
  'linearGradient':
    'prefix': 'lg'
    'body': '<linearGradient id="$1" x1="${2:0}" x2="${3:0}" y1="${4:0}" y2="${5:1}">\n  <stop offset="${6:0}" stop-color="$7" />\n  <stop offset="${8:1}" stop-color="$9" />\n</linearGradient>'
    'description': ''
    'descriptionMoreURL': ''
  'opacity':
    'prefix': 'opacity'
    'body': 'opacity="$1"'
    'description': 'The opacity attribute specifies the transparency of an object or of a group of objects, that is, the degree to which the background behind the element is overlaid.'
    'descriptionMoreURL': 'http://www.w3.org/TR/SVG11/masking.html#OpacityProperty'
  'path':
    'prefix': 'p'
    'body': '<path fill="$1" stroke="$2" stroke-width="1" \n      d="$3" />\n'
    'description': 'The path element is the generic element to define a shape. All the basic shapes can be created with a path element.'
    'descriptionMoreURL': 'https://developer.mozilla.org/de/docs/Web/SVG/Element/path'
  'pattern':
    'prefix': 'pa'
    'body': '<pattern id="$1" width="$2" height="$3">\n  $4\n</pattern>'
    'description': ''
    'descriptionMoreURL': ''
  'polygon':
    'prefix': 'polygon'
    'body': '<polygon points="$1,$2 $3,$4 $5,$6 $7,$8 $9,$10 $11,$12"/>'
    'description': 'The polygon element defines a closed shape consisting of a set of connected straight line segments. The last point is connected to the first point.'
    'descriptionMoreURL': 'https://developer.mozilla.org/de/docs/Web/SVG/Element/polygon'
  'polyline':
    'prefix': 'polyline'
    'body': '<polyline fill="$1" stroke="$2" points="$3,$4 $5,$6 $7,$8 $9,$10"/>'
    'description': 'The polyline element is an SVG basic shape, used to create a series of straight lines connecting several points. Typically a polyline is used to create open shapes as the last point is not connected to the first point.'
    'descriptionMoreURL': 'https://developer.mozilla.org/de/docs/Web/SVG/Element/polyline'
  'radialGradient':
    'prefix': 'rg'
    'body': '<radialGradient id="$1">\n  <stop offset="${2:0}" stop-color="$3" />\n  <stop offset="${4:1}" stop-color="$5" />\n</radialGradient>'
    'description': ''
    'descriptionMoreURL': ''
  'rect':
    'prefix': 'r'
    'body': '<rect x="${1:0}" y="${2:0}" width="${3:200}" height="${4:100}" fill="${5:#CC0F16}" />'
    'description': ''
    'descriptionMoreURL': ''
  'script (external)':
    'prefix': 'sc'
    'body': '<script xlink:href="$1" />'
    'description': ''
    'descriptionMoreURL': ''
  'shape-rendering':
    'prefix': 'shape-rendering'
    'body': 'shape-rendering="$1"'
    'description': 'Values: default, optimize-speed, crisp-edges, geometric-precision'
    'descriptionMoreURL': 'http://www.w3.org/1999/07/06/WD-SVG-19990706/render.html'
  'stop':
    'prefix': 'st'
    'body': '<stop offset="${1:0.5}" stop-color="$2" />'
    'description': ''
    'descriptionMoreURL': ''
  'svg':
    'prefix': 'svg'
    'body': '<svg xmlns="http://www.w3.org/2000/svg"\n     xmlns:xlink="http://www.w3.org/1999/xlink"\n     width="${1:240}" height="${2:320}"\n     viewBox="0 0 $1 $2"\n     version="1.1">\n  <title>${3:Title here}</title>\n\n  <script><![CDATA[\n\n    // SVG script here\n\n  ]]></script>\n\n  $4\n</svg>'
    'description': ''
    'descriptionMoreURL': ''
  'text':
    'prefix': 'text'
    'body': '<text x="$1" y="$2">$3</text>'
    'description': 'The text element defines a graphics element consisting of text. Note that it is possible to apply a gradient, pattern, clipping path, mask or filter to text'
    'descriptionMoreURL': 'https://developer.mozilla.org/de/docs/Web/SVG/Element/text'
  'tspan':
    'prefix': 'tspan'
    'body': '<tspan x="$1" y="$2">$3</tspan>'
    'description': 'Within a <text> element, text and font properties and the current text position can be adjusted with absolute or relative coordinate values by including a tspan element.'
    'descriptionMoreURL': 'https://developer.mozilla.org/de/docs/Web/SVG/Element/tspan'
  'use':
    'prefix': 'u'
    'body': '<use xlink:href="$1" x="$2" y="$3" />'
    'description': ''
    'descriptionMoreURL': ''
'.text.xml.svg .meta.tag.xml':
  'matrix':
    'prefix': 'ma'
    'body': 'transform="matrix($1, $2, $3, $4, $5, $6)"'
    'description': 'This transform definition specifies a transformation in the form of a transformation matrix of six values.'
    'descriptionMoreURL': 'https://developer.mozilla.org/de/docs/Web/SVG/Attribute/transform'
  'height':
    'prefix': 'h'
    'body': 'height="$1"'
    'description': 'This attribute indicates a vertical length in the user coordinate system. The exact effect of this coordinate depends on each element. Most of the time, it represents the height of the rectangular region of the reference element (see each individual element\'s documentation for exceptions).'
    'descriptionMoreURL': 'https://developer.mozilla.org/de/docs/Web/SVG/Attribute/height'
  'onclick':
    'prefix': 'on'
    'body': 'onclick="$1"'
    'description': ''
    'descriptionMoreURL': ''
  'onfocusin':
    'prefix': 'on'
    'body': 'onfocusin="$1"'
    'description': ''
    'descriptionMoreURL': ''
  'onfocusout':
    'prefix': 'on'
    'body': 'onfocusout="$1"'
    'description': ''
    'descriptionMoreURL': ''
  'onload':
    'prefix': 'on'
    'body': 'onmouseout="$1"'
    'description': ''
    'descriptionMoreURL': ''
  'onmousedown':
    'prefix': 'on'
    'body': 'onmousedown="$1"'
    'description': ''
    'descriptionMoreURL': ''
  'onmousemove':
    'prefix': 'on'
    'body': 'onmousemove="$1"'
    'description': ''
    'descriptionMoreURL': ''
  'onmouseout':
    'prefix': 'on'
    'body': 'onmouseout="$1"'
    'description': ''
    'descriptionMoreURL': ''
  'onmouseover':
    'prefix': 'on'
    'body': 'onmouseover="$1"'
    'description': ''
    'descriptionMoreURL': ''
  'onmouseenter':
    'prefix': 'on'
    'body': 'onmouseenter="$1"'
    'description': ''
    'descriptionMoreURL': ''
  'onmouseleave':
    'prefix': 'on'
    'body': 'onmouseleave="$1"'
    'description': ''
    'descriptionMoreURL': ''
  'onmouseup':
    'prefix': 'on'
    'body': 'onmouseup="$1"'
    'description': ''
    'descriptionMoreURL': ''
  'rotate':
    'prefix': 'ro'
    'body': 'transform="rotate($1, $2)"'
    'description': 'This transform definition specifies a rotation by a degrees about a given point. If optional parameters x and y are not supplied, the rotate is about the origin of the current user coordinate system. If optional parameters x and y are supplied, the rotate is about the point (x, y).'
    'descriptionMoreURL': 'https://developer.mozilla.org/de/docs/Web/SVG/Attribute/transform'
  'scale':
    'prefix': 'sc'
    'body': 'transform="scale($1)"'
    'description': 'This transform definition specifies a scale operation by x and y. If y is not provided, it is assumed to be equal to x.'
    'descriptionMoreURL': 'https://developer.mozilla.org/de/docs/Web/SVG/Attribute/transform'
  'skewX':
    'prefix': 'skewx'
    'body': 'transform="skewX($1)"'
    'description': 'This transform definition specifies a skew transformation along the x axis by a degrees.'
    'descriptionMoreURL': 'https://developer.mozilla.org/de/docs/Web/SVG/Attribute/transform'
  'skewY':
    'prefix': 'skewy'
    'body': 'transform="skewY($1)"'
    'description': 'This transform definition specifies a skew transformation along the y axis by a degrees.'
    'descriptionMoreURL': 'https://developer.mozilla.org/de/docs/Web/SVG/Attribute/transform'
  'stroke':
    'prefix': 'stroke'
    'body': 'stroke="$1"'
    'description': 'The stroke attribute defines the color of the outline on a given graphical element. The default value for the stroke attribute is none.'
    'descriptionMoreURL': 'https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/stroke'
  'stroke-dasharray':
    'prefix': 'stroke-dasharray'
    'body': 'stroke-dasharray="$1,$2"'
    'description': 'The stroke-dasharray attribute controls the pattern of dashes and gaps used to stroke paths.'
    'descriptionMoreURL': 'https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/stroke-dasharray'
  'stroke-linecap':
    'prefix': 'stroke-linecap'
    'body': 'stroke-linecap="$1"'
    'description': 'The stroke-linecap attribute specifies the shape to be used at the end of open subpaths when they are stroked.'
    'descriptionMoreURL': 'https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/stroke-linecap'
  'stroke-width':
    'prefix': 'stroke-width'
    'body': 'stroke-width="$1"'
    'description': 'The stroke-width attribute specifies the width of the outline on the current object. Its default value is 1. If a <percentage> is used, the value represents a percentage of the current viewport. If a value of 0 is used the outline will never be drawn.'
    'descriptionMoreURL': 'https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/stroke-width'
  'translate':
    'prefix': 'tr'
    'body': 'transform="translate($1, $2)"'
    'description': 'This transform definition specifies a scale operation by x and y. If y is not provided, it is assumed to be equal to x.'
    'descriptionMoreURL': 'https://developer.mozilla.org/de/docs/Web/SVG/Attribute/transform'
  'width':
    'prefix': 'w'
    'body': 'width="$1"'
    'description': 'This attribute indicates an horizontal length in the user coordinate system. The exact effect of this coordinate depend on each element. Most of the time, it represents the width of the rectangular region of the reference element (see each individual element\'s documentation for exceptions).'
    'descriptionMoreURL': 'https://developer.mozilla.org/de/docs/Web/SVG/Attribute/width'
