'fileTypes': [
  'svg'
]
'foldingStartMarker': '^\\s*(<[^!?%/](?!.+?(/>|</.+?>))|<[!%]--(?!.+?--%?>)|<%[!]?(?!.+?%>))'
'foldingStopMarker': '^\\s*(</[^>]+>|[/%]>|-->)\\s*$'
'name': 'SVG'
'patterns': [
  {
    'match': '\\b(if|while|for|return)\\b'
    'name': 'keyword.control.untitled'
  }
  {
    'begin': '"'
    'end': '"'
    'name': 'string.quoted.double.untitled'
    'patterns': [
      {
        'match': '\\\\.'
        'name': 'constant.character.escaped.untitled'
      }
    ]
  }
  {
    'begin': '(?:^\\s+)?<((?i:style))\\b(?![^>]*/>)'
    'captures':
      '1':
        'name': 'entity.name.tag.style.svg'
    'end': '</((?i:style))>(?:\\s*\\n)?'
    'name': 'source.css.embedded.svg'
    'patterns': [
      {
        'include': '#tag-stuff'
      }
      {
        'begin': '>'
        'end': '(?=</(?i:style))'
        'patterns': [
          {
            'include': '#embedded-code'
          }
          {
            'include': 'source.css'
          }
        ]
      }
    ]
  }
  {
    'begin': '(?:^\\s+)?(<)((?i:script))\\b(?![^>]*/>)'
    'beginCaptures':
      '1':
        'name': 'punctuation.definition.tag.svg'
      '2':
        'name': 'entity.name.tag.script.svg'
    'end': '(?<=</(script))(>)(?:\\s*\\n)?'
    'endCaptures':
      '2':
        'name': 'punctuation.definition.tag.svg'
    'name': 'source.js.embedded.svg'
    'patterns': [
      {
        'include': '#tag-stuff'
      }
      {
        'begin': '(?<!</(?:script))(>)'
        'captures':
          '1':
            'name': 'punctuation.definition.tag.svg'
          '2':
            'name': 'entity.name.tag.script.svg'
        'end': '(</)((?i:script))'
        'patterns': [
          {
            'captures':
              '1':
                'name': 'punctuation.definition.comment.js'
            'match': '(//).*?((?=</script)|$\\n?)'
            'name': 'comment.line.double-slash.js'
          }
          {
            'begin': '/\\*'
            'captures':
              '0':
                'name': 'punctuation.definition.comment.js'
            'end': '\\*/|(?=</script)'
            'name': 'comment.block.js'
          }
          {
            'include': 'source.js'
          }
        ]
      }
    ]
  }
  {
    'include': 'text.xml'
  }
]
'scopeName': 'text.xml.svg'
